@model GroupViewModel

@{
    ViewData["Title"] = "Manage group list";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Leader</td>
        </tr>
        </thead>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
                <td>@group.Leader</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
       @await Html.PartialAsync("AddGroupPartial", new Group())
    </div>
</div>